In [66]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import seaborn as sns
import numpy as np
from scipy import stats

In [67]:
weather_all_stations_df = pd.read_csv("Resources/weather_datatype_separated.csv")
weather_all_stations_df['Year'] = weather_all_stations_df['date'].dt.year
print(weather_all_stations_df.count())
weather_all_stations_df.head()

date          201347
station       201347
attributes    201347
country       201347
DP10           22143
DP1X           22130
DT32           11896
DX70           17164
DX90           17152
EMNT           11866
EMXP           22089
EMXT           17137
HTDD            9941
MNPN              13
MXPN              13
PRCP           22202
TAVG           10487
TMAX           17114
dtype: int64

,date,station,attributes,country,DP10,DP1X,DT32,DX70,DX90,EMNT,EMXP,EMXT,HTDD,MNPN,MXPN,PRCP,TAVG,TMAX
0,1996-01-01,GHCND:AEM00041218,S,AE,NaN,NaN,NaN,339.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1996-01-01,GHCND:AEM00041218,S,AE,NaN,NaN,NaN,NaN,218.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1996-01-01,GHCND:AEM00041218,"S,0706,",AE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1996-01-01,GHCND:AEM00041218,S,AE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.7
4,2004-01-01,GHCND:AEM00041194,S,AE,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
dx70_df = weather_all_stations_df[(weather_all_stations_df['DX70'].notna())]
dx70_average = dx70_df.groupby(['country', 'date'])['DX70'].mean()
dx70_average

country  date
AE       1996-01-01    339.0
         2006-01-01    335.0
         2007-01-01    330.0
         2008-01-01    335.5
         2009-01-01    332.5
                       ...
WA       2006-01-01    348.0
         2008-01-01    353.0
         2012-01-01    347.0
         2017-01-01    337.0
         2022-01-01    344.5
Name: DX70, Length: 1831, dtype: float64

In [69]:
dx90_df = weather_all_stations_df[(weather_all_stations_df['DX90'].notna())]
dx90_average = dx90_df.groupby(['country', 'date'])['DX90'].mean()
dx90_average

country  date
AE       1996-01-01    218.0
         2006-01-01    231.0
         2007-01-01    183.0
         2008-01-01    228.5
         2009-01-01    210.0
                       ...
WA       2006-01-01     50.0
         2008-01-01     69.0
         2012-01-01    109.0
         2017-01-01     91.0
         2022-01-01    107.5
Name: DX90, Length: 1831, dtype: float64

In [70]:
tmax_df = weather_all_stations_df[(weather_all_stations_df['TMAX'].notna())]
tmax_average = tmax_df.groupby(['country', 'date'])['TMAX'].mean()
tmax_average.head()

country  date
AE       1996-01-01    96.70
         2006-01-01    97.20
         2007-01-01    91.00
         2008-01-01    93.95
         2009-01-01    94.70
Name: TMAX, dtype: float64

In [71]:
emxt_df = weather_all_stations_df[(weather_all_stations_df['EMXT'].notna())]
emxt_average = emxt_df.groupby(['country', 'date'])['EMXT'].mean()
emxt_average

country  date
AE       1996-01-01    119.0
         2006-01-01    118.0
         2007-01-01    110.0
         2008-01-01    117.0
         2009-01-01    120.5
                       ...
WA       2006-01-01     99.0
         2008-01-01     97.0
         2012-01-01    105.0
         2017-01-01     96.0
         2022-01-01     98.5
Name: EMXT, Length: 1831, dtype: float64

In [72]:
emnt_df = weather_all_stations_df[(weather_all_stations_df['EMNT'].notna())]
emnt_average = emnt_df.groupby(['country', 'date'])['EMNT'].mean()
emnt_average

country  date
AF       1995-01-01   -10.000000
         1996-01-01    -7.000000
         1997-01-01    10.000000
         1998-01-01    -2.000000
         1999-01-01    12.000000
                         ...
WA       2000-01-01    32.500000
         2001-01-01    29.500000
         2002-01-01    31.500000
         2003-01-01    34.333333
         2008-01-01    38.000000
Name: EMNT, Length: 1513, dtype: float64

In [73]:
prcp_df = weather_all_stations_df[(weather_all_stations_df['PRCP'].notna())]
prcp_average = prcp_df.groupby(['country', 'date'])['PRCP'].mean()
prcp_average

country  date
AE       2004-01-01     2.3100
         2006-01-01     4.0800
         2010-01-01     4.8300
         2011-01-01     1.0100
         2012-01-01     2.0600
                        ...
WA       1999-01-01    10.3150
         2000-01-01    13.1000
         2001-01-01    11.0625
         2002-01-01     9.1550
         2003-01-01     6.6825
Name: PRCP, Length: 1687, dtype: float64

In [74]:
emxp_df = weather_all_stations_df[(weather_all_stations_df['EMXP'].notna())]
emxp_average = emxp_df.groupby(['country', 'date'])['EMXP'].mean()
emxp_average

country  date
AE       2004-01-01    0.9000
         2006-01-01    1.7700
         2010-01-01    3.1500
         2011-01-01    0.6300
         2012-01-01    1.6600
                        ...
WA       1999-01-01    1.2200
         2000-01-01    1.8525
         2001-01-01    1.7800
         2002-01-01    1.4650
         2003-01-01    0.7575
Name: EMXP, Length: 1687, dtype: float64

In [75]:
mean_df = pd.DataFrame({
    "DX70": dx70_average,
    "DX90": dx90_average,
    "TMAX": tmax_average,
    "EMXT": emxt_average,
    "EMNT": emnt_average,
    "PRCP": prcp_average,
    "EMXP": emxp_average,
}).reset_index()

mean_df.tail(50)

,country,date,DX70,DX90,TMAX,EMXT,EMNT,PRCP,EMXP
2325,UZ,2023-01-01,208.000000,93.818182,72.072727,109.000000,NaN,NaN,NaN
2326,VE,1995-01-01,364.285714,134.285714,87.200000,93.714286,63.500000,52.037500,3.118864
2327,VE,1996-01-01,365.200000,169.000000,87.780000,96.800000,63.000000,61.431026,3.492051
2328,VE,1997-01-01,364.833333,156.000000,87.466667,96.166667,61.500000,40.480000,2.240000
2329,VE,1998-01-01,364.166667,153.500000,87.983333,96.333333,64.500000,NaN,NaN
2330,VE,1999-01-01,364.000000,135.666667,86.816667,93.166667,63.500000,NaN,NaN
2331,VE,2000-01-01,365.000000,121.500000,86.733333,94.333333,63.166667,NaN,NaN
2332,VM,1995-01-01,324.000000,102.000000,85.500000,101.000000,NaN,59.938000,7.282000
2333,VM,1996-01-01,NaN,NaN,NaN,NaN,NaN,77.873333,7.454167
2334,VM,1997-01-01,NaN,NaN,NaN,NaN,NaN,60.698333,5.671667
2335,VM,1998-01-01,NaN,NaN,NaN,NaN,NaN,69.973636,7.155455
2336,VM,1999-01-01,315.000000,91.000000,83.933333,99.500000,NaN,NaN,NaN
2337,VM,2000-01-01,305.625000,81.750000,82.550000,98.875000,NaN,NaN,NaN
2338,VM,2001-01-01,303.428571,76.428571,82.742857,100.142857,NaN,36.630000,3.470000
2339,VM,2002-01-01,304.500000,92.875000,83.275000,98.875000,NaN,NaN,NaN
2340,VM,2003-01-01,320.571429,117.571429,85.385714,100.571429,NaN,60.163846,5.790769
2341,VM,2004-01-01,305.857143,86.428571,83.300000,99.142857,NaN,53.700769,4.472308
2342,VM,2005-01-01,296.375000,105.000000,83.950000,98.875000,NaN,70.520000,6.848462
2343,VM,2006-01-01,296.200000,89.800000,82.720000,101.400000,NaN,62.951000,6.324000
2344,VM,2007-01-01,317.875000,92.750000,84.212500,99.125000,NaN,73.074615,6.234615
2345,VM,2008-01-01,NaN,NaN,NaN,NaN,NaN,91.970000,10.625000
2346,VM,2010-01-01,326.300000,110.300000,85.160000,99.900000,NaN,71.624167,6.135833
2347,VM,2011-01-01,276.400000,65.400000,80.100000,96.600000,NaN,70.672727,6.262727
2348,VM,2012-01-01,300.000000,91.444444,82.677778,99.777778,NaN,65.968182,6.572727
2349,VM,2013-01-01,310.500000,87.700000,83.020000,100.300000,NaN,70.073333,6.375000
2350,VM,2014-01-01,301.000000,100.400000,83.370000,100.900000,NaN,61.983333,5.735000
2351,VM,2015-01-01,NaN,NaN,NaN,NaN,NaN,61.411429,6.142857
2352,VM,2016-01-01,NaN,NaN,NaN,NaN,NaN,89.690000,6.460000
2353,VM,2017-01-01,NaN,NaN,NaN,NaN,NaN,66.783333,5.288333
2354,VM,2018-01-01,NaN,NaN,NaN,NaN,NaN,62.521429,4.828571
2355,VM,2019-01-01,NaN,NaN,NaN,NaN,NaN,56.551429,4.418571
2356,VM,2020-01-01,NaN,NaN,NaN,NaN,NaN,62.635714,5.124286
2357,VM,2021-01-01,NaN,NaN,NaN,NaN,NaN,72.560000,4.410000
2358,VM,2022-01-01,NaN,NaN,NaN,NaN,NaN,105.860000,4.720000
2359,VM,2023-01-01,NaN,NaN,NaN,NaN,NaN,56.478571,5.200000
2360,WA,1995-01-01,341.500000,101.750000,84.225000,102.500000,30.250000,6.310000,0.905000
2361,WA,1996-01-01,317.666667,88.000000,82.633333,102.666667,30.666667,8.042500,1.447500
2362,WA,1997-01-01,332.000000,105.666667,84.166667,102.666667,33.333333,12.490000,1.545000
2363,WA,1998-01-01,345.500000,141.000000,86.725000,102.750000,33.000000,5.405000,1.387500
2364,WA,1999-01-01,336.250000,102.000000,84.450000,101.500000,33.333333,10.315000,1.220000
2365,WA,2000-01-01,330.000000,85.000000,82.000000,98.500000,32.500000,13.100000,1.852500
2366,WA,2001-01-01,331.500000,129.500000,84.200000,102.000000,29.500000,11.062500,1.780000
2367,WA,2002-01-01,338.333333,110.666667,84.300000,100.333333,31.500000,9.155000,1.465000
2368,WA,2003-01-01,337.333333,129.000000,84.733333,101.333333,34.333333,6.682500,0.757500
2369,WA,2005-01-01,351.000000,94.000000,84.900000,99.000000,NaN,NaN,NaN
2370,WA,2006-01-01,348.000000,50.000000,81.700000,99.000000,NaN,NaN,NaN
2371,WA,2008-01-01,353.000000,69.000000,82.300000,97.000000,38.000000,NaN,NaN
2372,WA,2012-01-01,347.000000,109.000000,85.600000,105.000000,NaN,NaN,NaN
2373,WA,2017-01-01,337.000000,91.000000,84.200000,96.000000,NaN,NaN,NaN
2374,WA,2022-01-01,344.500000,107.500000,85.350000,98.500000,NaN,NaN,NaN