In [17]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import seaborn as sns
import numpy as np
from scipy import stats

In [18]:
weather_all_stations_df = pd.read_csv("Resources/weather_datatype_separated.csv")
print(weather_all_stations_df.count())
weather_all_stations_df.head()

date          201347
station       201347
attributes    201347
country       201347
DP10           22143
DP1X           22130
DT32           11896
DX70           17164
DX90           17152
EMNT           11866
EMXP           22089
EMXT           17137
HTDD            9941
MNPN              13
MXPN              13
PRCP           22202
TAVG           10487
TMAX           17114
dtype: int64

,date,station,attributes,country,DP10,DP1X,DT32,DX70,DX90,EMNT,EMXP,EMXT,HTDD,MNPN,MXPN,PRCP,TAVG,TMAX
0,1996-01-01,GHCND:AEM00041218,S,AE,NaN,NaN,NaN,339.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1996-01-01,GHCND:AEM00041218,S,AE,NaN,NaN,NaN,NaN,218.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1996-01-01,GHCND:AEM00041218,"S,0706,",AE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1996-01-01,GHCND:AEM00041218,S,AE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.7
4,2004-01-01,GHCND:AEM00041194,S,AE,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
dx70_df = weather_all_stations_df[(weather_all_stations_df['DX70'].notna())]
dx70_average = dx70_df.groupby('country')['DX70'].mean()
dx70_average

country
AE    337.500000
AF    148.421053
AG    211.389831
AJ    160.685714
AL    179.600000
         ...
UY    225.470588
UZ    191.771160
VE    364.555556
VM    306.963303
WA    337.628571
Name: DX70, Length: 127, dtype: float64

In [20]:
dx90_df = weather_all_stations_df[(weather_all_stations_df['DX90'].notna())]
dx90_average = dx90_df.groupby('country')['DX90'].mean()
dx90_average

country
AE    216.400000
AF     21.105263
AG     77.136364
AJ     46.114286
AL     42.100000
         ...
UY     27.294118
UZ     93.040752
VE    144.027778
VM     93.330275
WA    106.742857
Name: DX90, Length: 127, dtype: float64

In [21]:
tmax_df = weather_all_stations_df[(weather_all_stations_df['TMAX'].notna())]
tmax_average = tmax_df.groupby('country')['TMAX'].mean()
tmax_average

country
AE    94.690000
AF    60.947368
AG    75.575000
AJ    66.988571
AL    70.320000
        ...
UY    74.029412
UZ    70.073354
VE    87.313889
VM    83.437615
WA    84.311429
Name: TMAX, Length: 127, dtype: float64

In [22]:
prcp_df = weather_all_stations_df[(weather_all_stations_df['PRCP'].notna())]
prcp_average = prcp_df.groupby('country')['PRCP'].mean()
prcp_average

country
AE      3.476000
AG     12.514003
AJ    112.380667
AL     76.542000
AM     42.697818
         ...
UY     41.040071
UZ     11.194934
VE     56.075529
VM     66.113270
WA      9.173611
Name: PRCP, Length: 126, dtype: float64