In [274]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import seaborn as sns
import numpy as np
from scipy import stats

In [275]:
weather_all_stations_df = pd.read_csv("Resources/weather_datatype_separated.csv")
weather_all_stations_df['date'] = pd.to_datetime(weather_all_stations_df['date'])
weather_all_stations_df['Year'] = weather_all_stations_df['date'].dt.year
print(weather_all_stations_df.count())
weather_all_stations_df.head()

date          201347
station       201347
attributes    201347
country       201347
DP10           22143
DP1X           22130
DT32           11896
DX70           17164
DX90           17152
EMNT           11866
EMXP           22089
EMXT           17137
HTDD            9941
MNPN              13
MXPN              13
PRCP           22202
TAVG           10487
TMAX           17114
Year          201347
dtype: int64

,date,station,attributes,country,DP10,DP1X,DT32,DX70,DX90,EMNT,EMXP,EMXT,HTDD,MNPN,MXPN,PRCP,TAVG,TMAX,Year
0,1996-01-01,GHCND:AEM00041218,S,AE,NaN,NaN,NaN,339.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996
1,1996-01-01,GHCND:AEM00041218,S,AE,NaN,NaN,NaN,NaN,218.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996
2,1996-01-01,GHCND:AEM00041218,"S,0706,",AE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.0,NaN,NaN,NaN,NaN,NaN,NaN,1996
3,1996-01-01,GHCND:AEM00041218,S,AE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.7,1996
4,2004-01-01,GHCND:AEM00041194,S,AE,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004

In [276]:
dx70_df = weather_all_stations_df[(weather_all_stations_df['DX70'].notna())]
dx70_average = dx70_df.groupby(['country', 'Year'])['DX70'].mean()
dx70_average

country  Year
AE       1996    339.0
         2006    335.0
         2007    330.0
         2008    335.5
         2009    332.5
                 ...
WA       2006    348.0
         2008    353.0
         2012    347.0
         2017    337.0
         2022    344.5
Name: DX70, Length: 1831, dtype: float64

In [277]:
dx90_df = weather_all_stations_df[(weather_all_stations_df['DX90'].notna())]
dx90_average = dx90_df.groupby(['country', 'Year'])['DX90'].mean()
dx90_average

country  Year
AE       1996    218.0
         2006    231.0
         2007    183.0
         2008    228.5
         2009    210.0
                 ...
WA       2006     50.0
         2008     69.0
         2012    109.0
         2017     91.0
         2022    107.5
Name: DX90, Length: 1831, dtype: float64

In [278]:
tmax_df = weather_all_stations_df[(weather_all_stations_df['TMAX'].notna())]
tmax_average = tmax_df.groupby(['country', 'Year'])['TMAX'].mean()
tmax_average.head()

country  Year
AE       1996    96.70
         2006    97.20
         2007    91.00
         2008    93.95
         2009    94.70
Name: TMAX, dtype: float64

In [279]:
emxt_df = weather_all_stations_df[(weather_all_stations_df['EMXT'].notna())]
emxt_average = emxt_df.groupby(['country', 'Year'])['EMXT'].mean()
emxt_average

country  Year
AE       1996    119.0
         2006    118.0
         2007    110.0
         2008    117.0
         2009    120.5
                 ...
WA       2006     99.0
         2008     97.0
         2012    105.0
         2017     96.0
         2022     98.5
Name: EMXT, Length: 1831, dtype: float64

In [280]:
emnt_df = weather_all_stations_df[(weather_all_stations_df['EMNT'].notna())]
emnt_average = emnt_df.groupby(['country', 'Year'])['EMNT'].mean()
emnt_average

country  Year
AF       1995   -10.000000
         1996    -7.000000
         1997    10.000000
         1998    -2.000000
         1999    12.000000
                   ...
WA       2000    32.500000
         2001    29.500000
         2002    31.500000
         2003    34.333333
         2008    38.000000
Name: EMNT, Length: 1513, dtype: float64

In [281]:
prcp_df = weather_all_stations_df[(weather_all_stations_df['PRCP'].notna())]
prcp_average = prcp_df.groupby(['country', 'Year'])['PRCP'].mean()
prcp_average

country  Year
AE       2004     2.3100
         2006     4.0800
         2010     4.8300
         2011     1.0100
         2012     2.0600
                  ...
WA       1999    10.3150
         2000    13.1000
         2001    11.0625
         2002     9.1550
         2003     6.6825
Name: PRCP, Length: 1687, dtype: float64

In [282]:
emxp_df = weather_all_stations_df[(weather_all_stations_df['EMXP'].notna())]
emxp_average = emxp_df.groupby(['country', 'Year'])['EMXP'].mean()
emxp_average

country  Year
AE       2004    0.9000
         2006    1.7700
         2010    3.1500
         2011    0.6300
         2012    1.6600
                  ...
WA       1999    1.2200
         2000    1.8525
         2001    1.7800
         2002    1.4650
         2003    0.7575
Name: EMXP, Length: 1687, dtype: float64

In [283]:
weather_country_overall_df = pd.DataFrame({
    "DX70": dx70_average,
    "DX90": dx90_average,
    "TMAX": tmax_average,
    "EMXT": emxt_average,
    "EMNT": emnt_average,
    "PRCP": prcp_average,
    "EMXP": emxp_average,
}).reset_index()

weather_country_overall_df.head(50)

,country,Year,DX70,DX90,TMAX,EMXT,EMNT,PRCP,EMXP
0,AE,1996,339.000000,218.000000,96.700000,119.000000,NaN,NaN,NaN
1,AE,2004,NaN,NaN,NaN,NaN,NaN,2.310000,0.900000
2,AE,2006,335.000000,231.000000,97.200000,118.000000,NaN,4.080000,1.770000
3,AE,2007,330.000000,183.000000,91.000000,110.000000,NaN,NaN,NaN
4,AE,2008,335.500000,228.500000,93.950000,117.000000,NaN,NaN,NaN
5,AE,2009,332.500000,210.000000,94.700000,120.500000,NaN,NaN,NaN
6,AE,2010,NaN,NaN,NaN,NaN,NaN,4.830000,3.150000
7,AE,2011,NaN,NaN,NaN,NaN,NaN,1.010000,0.630000
8,AE,2012,342.500000,225.000000,96.400000,120.000000,NaN,2.060000,1.660000
9,AE,2014,NaN,NaN,NaN,NaN,NaN,2.330000,0.620000
10,AE,2018,350.000000,205.000000,91.900000,122.000000,NaN,NaN,NaN
11,AE,2019,NaN,NaN,NaN,NaN,NaN,2.910000,0.860000
12,AE,2020,NaN,NaN,NaN,NaN,NaN,5.940000,1.650000
13,AE,2023,NaN,NaN,NaN,NaN,NaN,4.645000,1.350000
14,AF,1995,151.000000,28.000000,59.600000,97.000000,-10.000000,NaN,NaN
15,AF,1996,137.000000,21.000000,60.000000,95.000000,-7.000000,NaN,NaN
16,AF,1997,169.000000,43.000000,64.700000,101.000000,10.000000,NaN,NaN
17,AF,1998,151.000000,23.000000,61.600000,100.000000,-2.000000,NaN,NaN
18,AF,1999,140.000000,9.000000,60.200000,95.000000,12.000000,NaN,NaN
19,AF,2000,156.000000,22.000000,60.200000,96.000000,-4.000000,NaN,NaN
20,AF,2001,165.000000,30.000000,61.900000,97.000000,0.000000,NaN,NaN
21,AF,2002,146.000000,17.000000,60.300000,99.000000,-7.000000,NaN,NaN
22,AF,2003,144.000000,17.000000,59.700000,96.000000,1.000000,NaN,NaN
23,AF,2004,145.000000,4.000000,58.900000,94.000000,-8.000000,NaN,NaN
24,AF,2005,136.000000,7.000000,57.800000,91.000000,-5.000000,NaN,NaN
25,AF,2010,136.000000,11.000000,61.100000,96.000000,NaN,NaN,NaN
26,AF,2014,144.000000,31.000000,62.300000,95.000000,NaN,NaN,NaN
27,AF,2015,159.000000,22.000000,61.400000,97.000000,NaN,NaN,NaN
28,AF,2016,158.000000,19.000000,64.200000,98.000000,NaN,NaN,NaN
29,AF,2017,147.000000,21.000000,61.200000,96.000000,NaN,NaN,NaN
30,AF,2018,145.000000,29.000000,61.800000,99.000000,NaN,NaN,NaN
31,AF,2019,147.000000,29.000000,60.500000,96.000000,NaN,NaN,NaN
32,AF,2020,144.000000,18.000000,60.600000,94.000000,NaN,NaN,NaN
33,AG,1995,262.333333,106.500000,81.116667,107.833333,26.250000,6.315000,0.735000
34,AG,1996,292.250000,121.000000,82.400000,110.250000,30.500000,9.182500,1.082500
35,AG,1997,256.285714,105.857143,81.085714,108.285714,31.750000,10.713333,2.065000
36,AG,1998,273.750000,134.500000,82.900000,108.250000,29.000000,6.450000,0.657500
37,AG,2002,238.500000,97.500000,78.000000,101.000000,29.666667,NaN,NaN
38,AG,2003,182.000000,86.500000,73.450000,107.000000,NaN,NaN,NaN
39,AG,2004,NaN,NaN,NaN,NaN,30.000000,13.455714,2.012381
40,AG,2005,208.500000,66.312500,74.193750,106.500000,22.666667,10.818409,1.383182
41,AG,2006,218.692308,89.153846,76.246154,105.461538,28.750000,11.066596,1.320000
42,AG,2007,182.642857,69.071429,73.814286,104.928571,28.000000,13.601000,1.598750
43,AG,2008,191.562500,60.066667,73.666667,104.400000,30.142857,13.158333,1.418333
44,AG,2010,207.736842,63.000000,75.084211,104.473684,26.857143,12.928043,1.234783
45,AG,2011,202.421053,68.473684,74.663158,104.578947,28.250000,14.419000,1.558400
46,AG,2012,200.684211,87.157895,75.647368,108.368421,27.500000,11.915217,1.467174
47,AG,2013,192.500000,57.125000,72.350000,105.750000,31.500000,23.152222,1.870556
48,AG,2015,209.666667,79.833333,74.677778,107.055556,28.857143,11.866429,1.305238
49,AG,2016,NaN,NaN,NaN,NaN,28.153846,12.306154,1.158462

In [284]:
# Get the country codes according to FIPS-10 standard
country_codes_df = pd.read_csv('Resources/fips-countries.csv')
country_codes_df.head()

  code         country
0   AF     Afghanistan
1   AL         Albania
2   AG         Algeria
3   AQ  American Samoa
4   AN         Andorra

In [285]:
# Get the wine data
wine_data_df = pd.read_csv('Resources/Wine_data_all_2.csv')
wine_data_df.head()

  Continent      country Product     Variable  Year     Unit Quantity
0      Asia  Afghanistan    Wine  Consumption  1995  1000 hl        0
1      Asia  Afghanistan    Wine      Imports  1995  1000 hl        0
2      Asia  Afghanistan    Wine   Production  1995  1000 hl        0
3      Asia  Afghanistan    Wine  Consumption  1996  1000 hl        0
4      Asia  Afghanistan    Wine      Imports  1996  1000 hl        0

In [286]:
# Merge the wine data with country codes to get a column with matching 2 letter FIPS-10 country code
# This will allow us to correlate the data with NOAA weather data processed above into weather_country_overall_df
wine_data_df = pd.merge(wine_data_df, country_codes_df, on='country')
wine_data_df.head()

  Continent      country Product     Variable  Year     Unit Quantity code
0      Asia  Afghanistan    Wine  Consumption  1995  1000 hl        0   AF
1      Asia  Afghanistan    Wine      Imports  1995  1000 hl        0   AF
2      Asia  Afghanistan    Wine   Production  1995  1000 hl        0   AF
3      Asia  Afghanistan    Wine  Consumption  1996  1000 hl        0   AF
4      Asia  Afghanistan    Wine      Imports  1996  1000 hl        0   AF

In [287]:
# Filter only production data
wine_data_df = wine_data_df[wine_data_df['Variable'] == 'Production']

# Filter only wine data
wine_data_df = wine_data_df[wine_data_df['Product'] == 'Wine']

# Trim unnecessary 'Variable' column
wine_data_df = wine_data_df.drop(columns=['Variable'])

# Clean up the Quantity column to replace spaces and convert to numeric
wine_data_df['Quantity'] = wine_data_df['Quantity'].str.replace(' ', '')
wine_data_df['Quantity'] = pd.to_numeric(wine_data_df['Quantity'])

# Convert 1000 HL to Gallons
wine_data_df['Gallons'] = wine_data_df['Quantity'] * 26417.2

# Drop unnecessary columns
wine_data_df = wine_data_df.drop(columns=['Quantity'])
wine_data_df = wine_data_df.drop(columns=['country'])
wine_data_df = wine_data_df.drop(columns=['Continent'])
wine_data_df = wine_data_df.drop(columns=['Product'])
wine_data_df = wine_data_df.drop(columns=['Unit'])

# rename code to country, this will aid in merging with weather data
wine_data_df.rename(columns={'code': 'country'}, inplace=True)
wine_data_df.tail()

       Year country   Gallons
21670  2018      ZI  528344.0
21674  2019      ZI  369840.8
21678  2020      ZI  369840.8
21682  2021      ZI  369840.8
21686  2022      ZI  369840.8

In [288]:
# Merge wine and weather data
weather_and_wine_df = pd.merge(wine_data_df, weather_country_overall_df, on=['country', 'Year'])
weather_and_wine_df.tail()

,Year,country,Gallons,DX70,DX90,TMAX,EMXT,EMNT,PRCP,EMXP
2162,2018,VM,0.0,NaN,NaN,NaN,NaN,NaN,62.521429,4.828571
2163,2019,VM,0.0,NaN,NaN,NaN,NaN,NaN,56.551429,4.418571
2164,2020,VM,0.0,NaN,NaN,NaN,NaN,NaN,62.635714,5.124286
2165,2021,VM,0.0,NaN,NaN,NaN,NaN,NaN,72.560000,4.410000
2166,2022,VM,0.0,NaN,NaN,NaN,NaN,NaN,105.860000,4.720000

In [289]:
# Max temperature
tmax_ww_df = weather_and_wine_df[weather_and_wine_df['TMAX'].notna()]

tmax_ww_df.head(50)

,Year,country,Gallons,DX70,DX90,TMAX,EMXT,EMNT,PRCP,EMXP
0,1995,AF,0.0,151.000000,28.000000,59.600000,97.000000,-10.000000,NaN,NaN
1,1996,AF,0.0,137.000000,21.000000,60.000000,95.000000,-7.000000,NaN,NaN
2,1997,AF,0.0,169.000000,43.000000,64.700000,101.000000,10.000000,NaN,NaN
3,1998,AF,0.0,151.000000,23.000000,61.600000,100.000000,-2.000000,NaN,NaN
4,1999,AF,0.0,140.000000,9.000000,60.200000,95.000000,12.000000,NaN,NaN
5,2000,AF,0.0,156.000000,22.000000,60.200000,96.000000,-4.000000,NaN,NaN
6,2001,AF,0.0,165.000000,30.000000,61.900000,97.000000,0.000000,NaN,NaN
7,2002,AF,0.0,146.000000,17.000000,60.300000,99.000000,-7.000000,NaN,NaN
8,2003,AF,0.0,144.000000,17.000000,59.700000,96.000000,1.000000,NaN,NaN
9,2004,AF,0.0,145.000000,4.000000,58.900000,94.000000,-8.000000,NaN,NaN
10,2005,AF,0.0,136.000000,7.000000,57.800000,91.000000,-5.000000,NaN,NaN
11,2010,AF,0.0,136.000000,11.000000,61.100000,96.000000,NaN,NaN,NaN
12,2014,AF,0.0,144.000000,31.000000,62.300000,95.000000,NaN,NaN,NaN
13,2015,AF,0.0,159.000000,22.000000,61.400000,97.000000,NaN,NaN,NaN
14,2016,AF,0.0,158.000000,19.000000,64.200000,98.000000,NaN,NaN,NaN
15,2017,AF,0.0,147.000000,21.000000,61.200000,96.000000,NaN,NaN,NaN
16,2018,AF,0.0,145.000000,29.000000,61.800000,99.000000,NaN,NaN,NaN
17,2019,AF,0.0,147.000000,29.000000,60.500000,96.000000,NaN,NaN,NaN
18,2020,AF,0.0,144.000000,18.000000,60.600000,94.000000,NaN,NaN,NaN
19,1995,AL,4464506.8,160.000000,31.000000,66.900000,100.000000,NaN,90.820000,13.670000
20,1996,AL,7740239.6,173.000000,38.000000,68.700000,97.000000,NaN,92.590000,3.840000
21,1997,AL,4438089.6,169.500000,29.500000,69.650000,98.500000,NaN,57.740000,7.680000
22,1998,AL,2773806.0,182.000000,45.000000,70.900000,105.000000,NaN,NaN,NaN
23,1999,AL,3354984.4,187.500000,51.500000,71.000000,106.500000,NaN,72.340000,4.320000
24,2000,AL,1954872.8,189.500000,40.500000,70.950000,103.000000,NaN,69.220000,6.650000
25,2016,AL,4702261.6,188.000000,64.000000,73.500000,101.000000,NaN,NaN,NaN
26,1995,AG,15084221.2,262.333333,106.500000,81.116667,107.833333,26.250000,6.315000,0.735000
27,1996,AG,10355542.4,292.250000,121.000000,82.400000,110.250000,30.500000,9.182500,1.082500
28,1997,AG,9430940.4,256.285714,105.857143,81.085714,108.285714,31.750000,10.713333,2.065000
29,1998,AG,9510192.0,273.750000,134.500000,82.900000,108.250000,29.000000,6.450000,0.657500
30,2002,AG,18492040.0,238.500000,97.500000,78.000000,101.000000,29.666667,NaN,NaN
31,2003,AG,21662104.0,182.000000,86.500000,73.450000,107.000000,NaN,NaN,NaN
33,2005,AG,23775480.0,208.500000,66.312500,74.193750,106.500000,22.666667,10.818409,1.383182
34,2006,AG,27738060.0,218.692308,89.153846,76.246154,105.461538,28.750000,11.066596,1.320000
35,2007,AG,13736944.0,182.642857,69.071429,73.814286,104.928571,28.000000,13.601000,1.598750
36,2008,AG,13208600.0,191.562500,60.066667,73.666667,104.400000,30.142857,13.158333,1.418333
37,2010,AG,12548170.0,207.736842,63.000000,75.084211,104.473684,26.857143,12.928043,1.234783
38,2011,AG,12680256.0,202.421053,68.473684,74.663158,104.578947,28.250000,14.419000,1.558400
39,2012,AG,12997262.4,200.684211,87.157895,75.647368,108.368421,27.500000,11.915217,1.467174
40,2013,AG,13155765.6,192.500000,57.125000,72.350000,105.750000,31.500000,23.152222,1.870556
41,2015,AG,2536051.2,209.666667,79.833333,74.677778,107.055556,28.857143,11.866429,1.305238
48,2022,AG,5098519.6,214.000000,7.000000,71.900000,97.000000,30.500000,7.616667,0.795000
49,1995,AR,434378019.6,232.875000,46.687500,74.787500,104.000000,18.545455,40.210625,3.093750
50,1996,AR,334996513.2,216.421053,36.578947,72.831579,98.578947,20.608696,45.697333,3.716667
51,1997,AR,356632200.0,212.047619,39.000000,72.876190,98.523810,22.083333,60.237143,5.161429
52,1998,AR,334785175.6,212.909091,34.136364,73.168182,99.909091,27.416667,72.464667,5.555333
53,1999,AR,419716473.6,294.000000,114.000000,82.466667,107.000000,25.666667,33.781429,3.573571
54,2000,AR,331192436.4,202.782609,36.608696,71.926087,98.913043,20.703704,NaN,NaN
55,2001,AR,418316362.0,206.857143,47.714286,72.942857,99.428571,22.400000,NaN,NaN
56,2002,AR,335366354.0,204.052632,33.578947,71.657895,98.736842,21.869565,NaN,NaN